.yu-cl-settings-view {
  background: #ffffffcc;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  padding: 0.8rem;
}

.yu-cl-settings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8rem;
}

.yu-cl-settings-header h2 {
  flex-grow: 1;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.yu-cl-settings-back-button {
  background: #ffffff;
  border-radius: 0.4rem;
  border: none;
  color: #171717;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.6rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.yu-cl-settings-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.yu-cl-setting-item {
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.4rem;
  border: 0.1rem solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
}

.yu-cl-setting-label {
  color: #333;
  font-size: 1.6rem;
}

.yu-cl-setting-toggle {
  height: 2rem;
  width: 2rem;
}

.yu-cl-setting-item {
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.4rem;
  border: 0.1rem solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  position: relative;
}

.yu-cl-setting-tooltip {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.4rem;
  bottom: 110%;
  color: #fff;
  font-size: 1.4rem;
  left: 50%;
  max-width: 97%;
  min-width: 12rem;
  opacity: 0;
  padding: 0.4rem;
  position: absolute;
  text-align: left;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  white-space: normal;
  width: max-content;
  word-wrap: break-word;
}

.yu-cl-setting-item:hover .yu-cl-setting-tooltip {
  opacity: 1;
  visibility: visible;
}